<% @musics.each do |music| %>
<div class = "music">
<h3><a href="/musics/<%= music.id %>"><%= music.song_title %></a><small>(by:<%= music.author %>)</small></h3>
<p>
<%= music.url %>
</p>
</div>
<% end %>

<a href = "/musics/new">Post a song... It's free (for now)</a>

